.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://m.economictimes.com/thumb/msid-95377103,width-1599,height-1066,resizemode-4,imgsize-26202/air-show-seeks-to-position-china-as-global-competitor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
